<div id="container">
    <h1>Choose a City!</h1>
    <p>Note: These are limited so far since this is a smaller web app for the weather, will be adding more soon!</p>
    <mat-form-field>
        <mat-label>Enter a City</mat-label>
        <input matInput type="text" [(ngModel)]="cityInput">
    </mat-form-field>
    <div id="buttons">
        <button mat-raised-button color="primary" [disabled]="!cityInput" (click)="searchSpecificCity(cityInput)">Search</button>
        <br>
        <button mat-raised-button color="primary" (click)="loadAllData()">Clear</button>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let cities of citiesList | slice:(pageNum * itemsPerPage):(pageNum * itemsPerPage + itemsPerPage)"><a routerLink="/" [queryParams]="{ city: cities.name, country: cities.country }">{{cities.name}}, {{cities.country}}</a></mat-list-item>
    </mat-list>
    <mat-paginator [length]="cityListLen" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page" (page)="handlePageChange($event)"></mat-paginator>
</div>
