h1, h2, p, h3, mat-card-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0px;
}

#container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 20px;
}

.sideContainer {
    height: 75vh;
    width: 80vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgray;
}

.middleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgray;
}

.midData {
    padding: 15px;
    width: 100%;
}

.sideData {
    padding: 15px;
    width: 93%;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 60px;
}

.dayCard {
    margin-bottom: 10px;
}