<h1>{{currentCity}}</h1>
<div id="container">
    <div fxLayout="row" fxLayoutAlign="space-around center" id="grid">
        <div fxFlex="20%" class="sideContainer">
            City Information
            Current Time: {{weatherInfo.location['localtime']}}
        </div>
        <div fxFlex="60%" fxLayout="column" fxLayoutAlign="space-around center">
            <div fxFlex="30%" class="middleContainer">
                Current Weather + icon
            </div>
            <div fxFlex="30%" class="middleContainer">
              Hourly Weather
            </div>
            <div fxFlex="30%" class="middleContainer">
              Air conditions
            </div>
        </div>
        <div fxFlex="20%" class="sideContainer">
            3 Day Forcast
        </div>
    </div>
</div>
