<div id="container">
    <div fxLayout="row" fxLayoutAlign="space-around center" id="grid">
        <div fxFlex="60%" fxLayout="column" fxLayoutAlign="space-around center">
            <div fxFlex="30%" class="middleContainer">
                <div class="midData">
                    <div class="cardContainer">
                        <div class="subContainer">
                            <h2>{{weatherInfo.location['name']}}, {{weatherInfo.location['country']}}</h2>
                            <h1>{{weatherInfo.current['temp_c']}}&deg;</h1>
                            <p>Feels like <strong>{{weatherInfo.current['feelslike_c']}}&deg;</strong></p>
                            <p><strong>{{weatherInfo.current['condition'].text}}</strong></p>
                            <p>Sunrise: <strong>{{weatherInfo.forecast['forecastday'][0]['astro']['sunrise']}}</strong></p>
                            <p>Sunset: <strong>{{weatherInfo.forecast['forecastday'][0]['astro']['sunset']}}</strong></p>
                        </div>
                        <div class="subContainer">
                            <img [src]="weatherInfo.current['condition']['icon']" id="bigImg">
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="30%" class="middleContainer">
                <div class="midData">
                    <h3>Hourly Weather</h3>
                    <br>
                    <div id="hourlyWeatherContainer">
                        <div *ngFor="let hour of hourly; index as i">
                            <p>{{hour['time'].split(" ")[1]}}</p>
                            <img [src]="hour['condition']['icon']" id="smallImg">
                            <p>{{hour['temp_c']}}&deg;</p>
                        </div> 
                    </div>
                </div>
            </div>
            <div fxFlex="30%" class="middleContainer">
                <div class="midData">
                    <h3>Air Conditions</h3>
                    <br>
                    <div id="corners">
                        <div class="data">
                            <img src="../../assets/UV.png" id="smallerImg">
                            <h3>UV</h3>
                            <p>{{weatherInfo.current['uv']}}</p>
                        </div>
                        <div class="data">
                            <img src="../../assets/wind.png" id="smallerImg">
                            <h3>Wind</h3>
                            <p>{{weatherInfo.current['gust_kph']}} km/h</p>
                            <p>{{weatherInfo.current['gust_mph']}} m/h</p>
                            <p>Direction: {{weatherInfo.current['wind_dir']}}</p>
                        </div>
                        <div class="data">
                            <img src="../../assets/chanceRain.png" id="smallerImg">
                            <h3>Chance of Rain</h3>
                            <p>{{weatherInfo.forecast['forecastday'][0]['day']['daily_chance_of_rain']}}%</p>
                        </div>
                        <div class="data">
                            <img src="../../assets/pressure.png" id="smallerImg">
                            <h3>Pressure</h3>
                            <p>{{weatherInfo.current['pressure_in']}} in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="20%" class="sideContainer">
            <h3>3 Day Forecast</h3>
            <div class="sideData">
                <mat-card *ngFor="let day of weatherInfo.forecast['forecastday']" class="dayCard">
                    <mat-card-header class="cardHeader">
                        <mat-card-title>{{day['date']}}</mat-card-title>
                    </mat-card-header>
                    <div class="cardContainer">
                        <div class="subContainer-left">
                            <img mat-card-image [src]="day['day']['condition']['icon']" id="smallImg">
                            <mat-card-content>
                                <p><strong>{{day['day']['condition']['text']}}</strong></p>
                                <p><strong>{{day['day']['maxtemp_c']}}&deg;</strong> / {{day['day']['mintemp_c']}}&deg;</p>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>